{:os :windows
 :arch :x86-64
 :pointer-bits 64
 :socket-handle-bytes 8
 :socklen-bytes 4
 :nfds-bytes nil
 :ioctl-cmd-bytes 4
 :ioctl-arg-bytes 4
 :const {
  :af-unspec 0
  :af-inet 2
  :af-inet6 23
  :sock-stream 1
  :sock-dgram 2
  :ipproto-tcp 6
  :ipproto-ipv6 41
  :sol-socket 65535
  :so-reuseaddr 4
  :so-error 4103
  :so-rcvbuf 4098
  :so-sndbuf 4097
  :tcp-nodelay 1
  :ipv6-v6only 27
  :ai-passive 1
  :ai-numerichost 4
  :ai-numericserv 8
  :shut-rd 0
  :shut-wr 1
  :shut-rdwr 2
  :msg-nosignal nil
  :so-nosigpipe nil
  :o-nonblock nil
  :f-getfl nil
  :f-setfl nil
  :fionbio -2147195266
 }
 :layout {
  :sockaddr-in {:size 16 :family 0 :port 2 :addr 4}
  :sockaddr-in6 {:size 28 :family 0 :port 2 :flowinfo 4 :addr 8 :scope-id 24}
  :sockaddr-storage {:size 128}
  :addrinfo {:size 48 :flags 0 :family 4 :socktype 8 :protocol 12 :addrlen 16 :canonname 24 :addr 32 :next 40 :addrlen-bytes 8}
  :sin-len? false
 }
 :errno {
  :eagain 10035
  :ewouldblock 10035
  :einprogress 10035
  :econnrefused 10061
  :econnreset 10054
  :eaddrinuse 10048
  :eaddrnotavail 10049
  :enetunreach 10051
  :ehostunreach 10065
  :etimedout 10060
  :eintr 10004
  :eacces 10013
  :epipe nil
 }
 :gai {
  :noname 11001
  :again 11002
  :fail 11003
  :family 10047
  :service 10109
  :memory 8
  :system nil
  :addrfamily nil
 }}
